.movies-section {
  height: 90vh;
}

.movies-section-header {
  text-align: center;
  height: 10vh;
}

.movies-section-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-gap: 20px;
  height: 80vh;
  overflow-y: scroll;
}
