.movie-page {
  height: 90vh;
  background-size: 100vw 90vh;
  position: relative;
}

.movie-page-back-button {
  /* background-color: chartreuse; */
  position: absolute;
  top: 5px;
  right: 10px;
  padding: 0.2em 1em;
  border-radius: 1em;
}

.movie-descriptions {
  background-color: orange;
  height: 35vh;
  width: 40vw;
  position: absolute;
  bottom: 15px;
  left: 10px;
  background-color: wheat;
  border: 2px solid black;
  border-radius: 15px;
  padding: 5px;
}

.movie-page-rating-card {
  background-color: pink;
}
