.movie-card {
  width: 200px;
  height: 300px;
  background-size: 200px 300px;
  position: relative;
}

.movie-card-user-rating,
.movie-card-rating {
  font-size: 0.7em;
  background-color: whitesmoke;
  border: 2px solid black;
  padding: 1em;
  border-radius: 1em;
  display: inline;
  text-align: center;
  position: absolute;
  bottom: 1px;
}

.movie-card-user-rating {
  left: 5px;
}

.movie-card-rating {
  right: 5px;
}

.movie-card:hover {
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
}

.movie-card:hover .movie-card-rating,
.movie-card:hover .movie-card-user-rating {
  display: none;
}
