.movie-page {
  height: 90vh;
  background-size: 100vw 90vh;
  position: relative;
}

.movie-page-back-button {
  position: absolute;
  top: 5px;
  right: 10px;
  padding: 0.2em 1em;
  border-radius: 1em;
}

.movie-descriptions {
  height: 35vh;
  width: 40vw;
  position: absolute;
  bottom: 15px;
  left: 10px;
  background-color: wheat;
  border: 2px solid black;
  border-radius: 15px;
  padding: 5px;
  display: grid;
}

.movie-description-title,
.movie-description-tagline,
.movie-description-overview,
.movie-description-stats,
.movie-description-ratings {
  margin: 0;
}

.movie-page-rating-card {
  height: 35vh;
  width: 15vw;
  position: absolute;
  bottom: 15px;
  right: 10px;
  background-color: wheat;
  border: 2px solid black;
  border-radius: 15px;
  padding: 5px;
}

.movie-page-rating-card div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
